In [1]:
import sys
sys.path.append('/home/lessa/smodels')
import os
from smodels.theory.exceptions import SModelSTheoryError as SModelSError
from smodels.tools.smodelsLogging import logger
from smodels.experiment.databaseObj import Database

In [2]:
db = Database(os.path.expanduser('~/smodels-database-master'))

In [3]:
print(db)

Database version: 2.2.0
------------------------
201 experimental results: 87 CMS, 114 ATLAS, 84 @ 8 TeV, 117 @ 13 TeV
1139 datasets, 7039 txnames.

In [4]:
expList = db.getExpResults()
print(len(expList))

185

In [5]:
txInclusive = []
for exp in expList:
    for tx in exp.getTxNames():
        if '*' in tx.constraint:
            txInclusive.append(tx)

In [6]:
anaIDs = set([tx.globalInfo.id for tx in txInclusive])
print('Inclusive analyses = %s' %anaIDs )

Inclusive analyses = {'CMS-SUS-17-004', 'ATLAS-SUSY-2016-16', 'ATLAS-SUSY-2013-02', 'ATLAS-SUSY-2016-24', 'ATLAS-CONF-2013-007', 'CMS-PAS-SUS-16-052', 'ATLAS-SUSY-2013-12', 'ATLAS-SUSY-2016-15', 'CMS-PAS-SUS-17-004', 'CMS-PAS-SUS-12-022', 'CMS-SUS-16-049', 'CMS-SUS-14-021', 'ATLAS-SUSY-2018-22', 'CMS-SUS-17-005', 'CMS-EXO-13-006', 'CMS-SUS-13-006', 'CMS-SUS-16-039', 'CMS-SUS-18-004', 'ATLAS-SUSY-2018-08', 'ATLAS-SUSY-2018-10', 'ATLAS-SUSY-2018-32', 'ATLAS-SUSY-2018-12', 'CMS-SUS-16-041', 'CMS-SUS-16-042', 'ATLAS-SUSY-2013-20', 'ATLAS-SUSY-2016-32', 'CMS-SUS-16-035', 'ATLAS-CONF-2013-035', 'CMS-SUS-13-013', 'ATLAS-SUSY-2016-06', 'CMS-SUS-19-008', 'ATLAS-SUSY-2018-06', 'CMS-EXO-19-010', 'ATLAS-SUSY-2016-07', 'ATLAS-CONF-2013-048', 'CMS-PAS-SUS-13-023', 'ATLAS-SUSY-2019-09', 'CMS-SUS-13-011', 'ATLAS-CONF-2013-047'}

In [4]:
dbList = []
for dbdir in ['/home/lessa/smodels/test/database','/home/lessa/smodels/test/database_extra','/home/lessa/smodels/test/database_simple']:
    db = Database(os.path.abspath(dbdir))
    print(db)
    dbList.append(db)

Database version: unittest220
------------------------------
15 experimental results: 8 CMS, 7 ATLAS, 7 @ 8 TeV, 8 @ 13 TeV
124 datasets, 550 txnames.

Database version: unittest220extra
-----------------------------------
7 experimental results: 3 CMS, 4 ATLAS, 2 @ 8 TeV, 5 @ 13 TeV
86 datasets, 141 txnames.

Database version: unittest200b-beta
------------------------------------
2 experimental results: 0 CMS, 2 ATLAS, 0 @ 8 TeV, 2 @ 13 TeV
2 datasets, 2 txnames.

In [6]:
db = dbList[0]
for exp in sorted(db.getExpResults(), key = lambda exp: exp.globalInfo.id):
    print(exp.globalInfo.id,len(exp.getTxNames()))
    if 'EXO-16' in str(exp):
        for tx in exp.getTxNames():
            print(tx)

ATLAS-CONF-2013-037 86
ATLAS-SUSY-2013-02 8
ATLAS-SUSY-2013-05 3
ATLAS-SUSY-2013-12 5
ATLAS-SUSY-2016-08 1
ATLAS-SUSY-2016-081 1
ATLAS-SUSY-2018-31 8
CMS-EXO-13-006 64
CMS-PAS-EXO-16-036 16
THSCPM1
THSCPM2
THSCPM3
THSCPM4
THSCPM5
THSCPM6
THSCPM7
THSCPM8
THSCPM1
THSCPM2
THSCPM3
THSCPM4
THSCPM5
THSCPM6
THSCPM7
THSCPM8
CMS-PAS-SUS-12-026 1
CMS-PAS-SUS-15-002 4
CMS-SUS-13-012 178
CMS-SUS-16-039 6
CMS-SUS-16-050-agg 168